/*

!.gitignore

!DNN.py
!CVAE.py
!Settings.py
!DataReader.py
!DNN_FullModel.ipynb
!CVAE_FullModel.ipynb
!CVAE_LossBalancing.ipynb
!Design_Optimization_Interactive.ipynb
!Design_Optimization_Workflow.ipynb
!Feasible_Hypercubemap_Generation.ipynb
!MC_Dropout_Quantification.ipynb
!DNN_MV_Interaction_Analysis.ipynb

!AL_API/
AL_API/*
!AL_API/Local_AL.ipynb
!AL_API/LocalObjectives.ipynb
!AL_API/Global_AL.ipynb

